main {
	display: flex;
	height: 25vh;
}

.head {
	justify-content: center;
	align-items: center;
	height: 8vh;
}

.head,
footer {
	background-color: rgb(226, 226, 226);
	display: flex;
	font-weight: bolder;
}

.mainpart {
	background-color: cornsilk;
	display: flex;
	font-weight: bolder;
	width: 70vw;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.item_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.item1,
.item2,
.item3 {
	background-color: rgb(250, 247, 167);
	display: flex;
	font-weight: bolder;
	margin: 5px;
	padding: 10px;
	justify-content: center;
	align-items: center;
	height: 4vh;
}

.item1,
.item2 {
	width: 35%;
}

.item3 {
	width: 85%;
}

.aside {
	background-color: rgb(207, 246, 205);
	display: flex;
	font-weight: bolder;
	width: 30vw;
	justify-content: center;
}

.aside_text {
	margin-top: 5%;
}

footer {
	justify-content: space-around;
	align-self: center;
}

.section1,
.section2,
.section3,
.section4 {
	background-color: rgb(239, 239, 239);
	height: 5vh;
	margin: 5px;
	padding: 5px;
	display: flex;
	align-items: center;
}
