$font: "Montserrat";
$title-color: #4a50ff;
$bg: #050c2b;
$white: #ffff;

body {
	background-color: $bg;
	color: $white;
	font-family: $font;
}

.service-container {
	display: flex;
	justify-content: space-between;
}

#yes,
#not {
	background-color: $bg;
	border: 0.3vw dashed $title-color;
}

.container__comments,
.chat {
	display: flex;
	flex-direction: column;
	width: 45vw;
}

.chat {
	justify-self: start;
}

.comm__title,
.chat__title {
	color: $title-color;
	font-size: 2.5vw;
	font-weight: 600;
	margin: 1vw;
}

.comm__info {
	background-color: $bg;
	border: 0.3vw dashed $title-color;
	margin: 1vw;
	color: $white;
}

.comm__text {
	margin: 1vw;
}

.comm__button {
	background-color: $title-color;
	color: $white;
	border: 1vw solid $title-color;
	margin: 1vw;
	width: 20vw;
	font-family: $font;
}

.chat__info {
	display: flex;
	justify-content: flex-start;

	img {
		width: 15vw;
		margin: 1vw;
	}

	.chat__name {
		color: $title-color;
		display: flex;
		justify-content: flex-start;
		align-self: flex-start;
		font-size: 2vw;
		font-weight: 500;
		font-family: $font;
		margin: 1vw;
	}
}

.chat__text {
	display: flex;
	justify-content: flex-start;
	margin: 1vw;

	.text__comm {
		color: $white;
		display: flex;
		justify-content: flex-start;
		margin: 1vw;
	}
}

.chat__border {
	border-bottom: 0.3vw dashed $title-color;
	margin: 1vw;
}

.title__name {
	margin: 1vw;
}

.chat__block {
	display: flex;

	.date__comm {
		display: flex;
		font-size: 1.5vw;
		color: $title-color;
		font-weight: 500;
		font-family: $font;
		justify-content: end;
		margin: 0 1vw 3vw 0;
	}
}

/* для элемента input c type="radio" */
.custom-radio {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
/* для элемента label связанного с .custom-radio */
.custom-radio + label {
	display: inline-flex;
	align-items: center;
	user-select: none;
}
/* создание в label псевдоэлемента  before со следующими стилями */
.custom-radio + label::before {
	content: "";
	display: inline-block;
	width: 1em;
	height: 1em;
	flex-shrink: 0;
	flex-grow: 0;
	border: 1px solid #adb5bd;
	border-radius: 50%;
	margin-right: 0.5em;
	margin-left: 1vw;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
}
/* стили для радиокнопки, находящейся в состоянии checked */
.custom-radio:checked + label::before {
	background-color: $title-color;
}
/* стили для радиокнопки, находящейся в состоянии disabled */
.custom-radio:disabled + label::before {
	background-color: #e9ecef;
}
